// Navigation Styles here
header {
    margin: 20px 0;
    
    // .center();

    h1 {
        margin-right: 250px;
    }

    nav {

        a {
            text-decoration: none;
            color: black;
            margin: 0 20px;
            font-size: 18px;
        }
    }

    img {

    }
}

.top-header {
    border-bottom: 2px dashed @navigation-border;
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}

.bottom-header {
    
    border-bottom: 2px dashed @navigation-border;

    h2 {
        margin-top: 20px;
    }

    p {
        margin-bottom: 20px;
    }
}
